*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color:antiquewhite;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

canvas{
    border:3px solid lightseagreen;
}

.toolbar{
    background-color:lightseagreen;
    display:flex;
    padding:1rem;
    width:1500px;
}

.toolbar>*{
    border:none;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 20px;
    height:30px;
    width:30px;
    margin-left:15px;
    background-color:transparent;
}

#clear{
    margin-left:auto;
    margin-right: 20px;
    cursor:pointer;

}

#color{
    width:30px;
    height:30px;
}