*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:linear-gradient(135deg,coral 10%,green 100%);
}
.container{
    width:400px;
    height:400px;
    padding:50px;
    background-color:rgb(54, 51, 51);
}

h1{
    color:white;
    font-size: 30px;
    font-weight: 800;
    margin-bottom:50px;
    text-align:center;
}
.form-group{
    width:100%;
    padding:0px 15px;
    border-bottom:1px solid grey;
}
.form-group:last-of-type{
    margin-bottom:40px;
}
.input-field{
    display:block;
    width:100%;
    border:none;
    background:none;
    padding:15px 0px;
    color:#fff;
    font-size: 18px;
}

.input-field.valid{
    color:lightgreen;
}
.input-field.invalid{
    color:crimson;
}
.login-btn{
    padding:10px 40px;
    color:#fff;
    font-size: 20px;
    background:none;
    border:1px solid white;
    cursor:pointer;
    width:100%;
}